<!DOCTYPE html>
<html>
    <head>
        <title>Sinatra Views Lab II</title>
    </head>
    <body>
        <h1>Here all the links</h1>
        <ul>
            <li>
                <a href="/hello">Hello page</a>
            </li>
            <li>
                <a href="/goodbye">Goodbye page</a>
            </li>
            <li>
                <a href="/date">Date page</a>
            </li>
        </ul>
    </body>
</html>